# *********************************************
# CWGAME Ver.1.1 by JA1XPM 2026.05.17
# *********************************************

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# PyInstaller
build/
dist/
*.spec.bak
*.exe

# Logs
*.log

# Local archives
*.zip

# Editor settings
.vscode/
